.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px
}

.sec {
    padding: 100px 0;
}

.sec .tit {
    margin: 0 auto 30px auto;
}

.sec .tit h2 {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 700;
}

.sec .tit p {
    word-break: keep-all;
    font-size: 15px;
    line-height: 19px;
}

body {
    min-height: 150vh;
}

/* header */
#header {
    border-bottom: 1px solid #ddd;
}

#header .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    max-width: 100%;
    padding: 0 50px;
    height: 100px;
    line-height: 100px;
}

#header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
    /* html의 h1 위치를 옮길 수 없어 position으로 띄우고 해결함 */
}

#header a {
    display: block;
}

#header .gnb>ul {
    display: flex;
    gap: 40px;
}

/* main */
#main_visual {
    position: relative;
    height: 600px;
    background: url(../images/mainvisual01.jpg) no-repeat center center/cover;
}

#main_visual .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#main_visual .slogan h2 {
    margin: 0 0 10px 0;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    /* text-transform: uppercase; 글자대문자 */
    text-shadow: 0 0 3px #000;
}

#main_visual .slogan p {
    color: #fff;
    font-size: 15px;
    text-shadow: 0 0 3px #000;
}


/* footer */
#footer {
    padding: 50px 0;
    background: #333;
    color: #fff;
    text-align: center;
}


/* to top */
.to_top {
    position: fixed;
    bottom: 100px;
    right: 100px;
}

.to_top i {
    background: tomato;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}