body {
    background: #80800011;
    color: #444;
}

.header {
    max-width: 1200px;
    width: calc(100% - 50px);
    margin: 30px auto;
}

h1 {
    font-size: 35px;
    font-weight: 900;
}

h2 {
    font-weight: 500;
    color: #808000;
}

h3 {
    position: relative;
    padding: 0 0 0 25px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #696960;
}

.inner {
    max-width: 1200px;
    width: calc(100% - 50px);
    margin: 15px auto;
    padding: 20px;
    background: #fff;
    border: 1px dashed #808000;
}

.inner h3::before {
    content: "\e92e";
    font-family: xeicon;
    color: #808000;
    font-size: 20px;
    font-weight: 500;
    margin: 0 10px 0 0;


    position: absolute;
    top: 0;
    left: 0;
}


.list li {
    padding: 5px 0;
    border-bottom: 1px dashed #ddd;
}

.list strong {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding: 6px 10px 5px 10px;
    background: #69692c;
    border-radius: 10px;
}

.list a {
    padding: 0 0 0 5px;
}

.footer {
    max-width: 1200px;
    width: calc(100% - 50px);
    margin: 30px auto;
}

.footer p {
    text-align: right;
    font-size: 15px;
    font-weight: 300;
    color: #444;
}




hr {
    position: relative;
    border: none;
    border-top: 1px solid #b8b85b;
    overflow: visible;
}

hr::before {
    content: "\e9e1";
    font-family: xeicon;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 600px;

    padding: 10px;
    font-size: 20px;
    color: #69692c;
    border: 1px solid #b8b85b;
    border-radius: 50%;
    background: #fff;
}