body {
    background: #e9eedc;
}

.header {
    position: fixed;
    top: 20px;
    left: 20px;
}

h1 {
    font-size: 30px;
    font-weight: 900;
}

h2 {
    color: #666;
}

.inner {
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
}

.list li {
    padding: 5px 0;
    border-bottom: 1px dashed #ddd;
}

.list strong {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding: 6px 10px;
    background: #808000;
    border-radius: 10px;
}

.list a {
    padding: 0 0 0 5px;
}
