body {
    background: #dfe7c9;
}

.header {
    max-width: 1200px;
    width: calc(100% - 50px);
    margin: 30px auto;
}

h1 {
    font-size: 35px;
    font-weight: 900;
}

h2 {
    font-weight: 500;
    color: #808000;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #808000;
}

.inner {
    max-width: 1200px;
    width: calc(100% - 50px);
    margin: 15px auto;
    padding: 20px;
    background: #fff;
    border: 1px dashed #000;
}

.list li {
    padding: 5px 0;
    border-bottom: 1px dashed #ddd;
}

.list strong {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding: 6px 10px 5px 10px;
    background: #808000;
    border-radius: 10px;
}

.list a {
    padding: 0 0 0 5px;
}

.footer {
    max-width: 1200px;
    width: calc(100% - 50px);
    margin: 30px auto;
}

.footer p {
    text-align: right;
    font-size: 15px;
    font-weight: 300;
    color: #666;
}